@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesMVC.Models.Employee[]

<div>
    @foreach (var item in Model)
    {
        @item.Name
        <br/>
    }
    <br/>
    
    <a asp-controller="Home" asp-action="CreateEmployee">Add Employee</a>
</div>