
@model Employee[]

<div>
    <h4>List of employees</h4>
    @foreach (var item in Model)
    {
        <a asp-controller="Home" asp-action="DetailsEmployee" asp-route-id="@item.Id" style="color: darkred">@item.Name</a>
        <br/>
    }
    <br/>


</div>